*{
    margin:0;
    padding:0;
    border:0;
}
body{
    background-color: rgb(245, 245, 245);
}
section{
    border: solid black;
    border-width:0.5px;
    margin:30px;
    background-color: rgb(255, 255, 255);
}
h1{
    font-size: 44px;
    margin:30px;
    text-align: center;
    margin: 50px;
}
img{
    width:100%;
    margin:auto;
}
p{
    font-size:26px;
    margin:20px;
    text-align: center;
}
@media (min-width:750px){
    section{
        margin-left: 120px;
        margin-right: 120px;
        padding:40px;
    }
    h1{
        margin: 60px;
    }
    p{
        text-align: justify;
    }
    .danny{
        float: left;
        width:auto;
        margin-right:30px;
        margin-left:20px;
    }
    .marry{
        float: right;
        margin-left:30px;
        width:350px;
    }
}
@media(min-width:1100px){
    section{
        margin-left:20%;
        margin-right:20%;
        padding:70px;
    }
    h1{
        margin: 60px;
    }
    p{
        text-align: justify;
    }
    .danny{
        float: left;
        width:auto;
        margin-right:30px;
        margin-left:20px;
    }
    .marry{
        float: right;
        margin-left:30px;
        width:350px;
    }
}