h1 {
  color: white;
  background-color: black;
  opacity: 0.5;
  font-family: "Century Gothic";
  display: flex;
  justify-content: center;
}

@media (min-width: 320px) {
  .name_product {
    display: flex;
    margin-top: 300px;
    justify-content: center;
  }

  .center {
    text-align: center;
  }

  .img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 720px) {
  nav {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
  }

  section {
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
  }

  section div {
    display: flex;
    flex-wrap: wrap;
    margin-left: 35px;
  }
}
