* {
  box-sizing: border-box;
}

header {
  background-color: white;
  font-size: 50px;
  text-align: center;
  position: fixed;
  width: 100%;
  color: black;
}
header h1 {
  text-align: center;
  margin-top: 4%;
}

.print {
  margin-top: 12%;
  top: 10px;
  margin-left: 20%;
  margin-right: 20%;
}

.toggle_btn {
  height: 40px;
  width: 40px;
  position: fixed;
  float: left;
  margin-left: 15px;
  top: 5%;
  cursor: pointer;
}

.toggle_btn span {
  height: 3px;
  background-color: black;
  width: 100%;
  position: absolute;
  top: 20px;
  left: 0;
}

.toggle_btn span:before {
  content: "";
  height: 3px;
  background-color: black;
  width: 100%;
  position: absolute;
  top: -10px;
  left: 0;
}

.toggle_btn span:after {
  content: "";
  height: 3px;
  background-color: black;
  width: 100%;
  position: absolute;
  top: 10px;
  left: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background: white;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.2s;
}
nav.is-open {
  transform: none;
}
nav a {
  color: black;
  text-decoration: none;
}

ul {
  padding-top: 40px;
  list-style: none;
  flex-grow: 1;
  margin-right: 15px;
}

li {
  background-color: white;
  text-align: center;
  padding: 30px;
  height: 30%;
}

.open-menu {
  cursor: pointer;
  margin-top: 10px;
}

.toggle_btn:before {
  top: 10px;
}

.toggle_btn:after {
  top: 17px;
}

p {
  padding: 30px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  font-size: 26px;
}

.operation {
  margin-left: 20%;
  margin-right: 20%;
  height: 100%;
}
.steps {
  text-decoration: none;
  color: white;
}

.imagine {
  background-color: #082852;
  height: 200px;
}
.printed {
  margin-top: 3px;
  background-color: #082852;
  height: 200px;
}
.connected {
  margin-top: 3px;
  background-color: #082852;
  height: 200px;
}

.swarovski {
  margin-left: 20%;
  margin-right: 20%;
  height: 100%;
}

article a {
  text-decoration: none;
  color: white;
}

.first {
  background-color: #082852;
  height: 200px;
}
.second {
  margin-top: 3px;
  background-color: #a9a9a9;
  height: 200px;
}

footer {
  border: solid black;
  border-width: 0.5px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.logo {
  width: 50px;
  height: 50px;
}
